.banner-section {
    background-color: aqua;
    position: relative;
    margin: 0 !important;
    height: 394px;
    overflow-y: hidden;
  }

  .banner-section>.columns-wrapper {
    position: relative;
    height: 100%;
    margin: 0 !important;
    max-width: 100% !important;
    display: flex;
  }

  .banner-section>.columns-wrapper .columns-img-col {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .banner-section>.columns-wrapper>.columns {
    max-width: 75rem;
    margin: auto;
  }
  
  .banner-section>.columns-wrapper>.columns>div {
    width: 75rem;
  }
  
  .banner-section>.columns-wrapper>.columns>div>div:first-child {
    z-index: 10;
    max-width: 480px;
    background: red;
    color: white;
    padding-top: 1.5rem;
    box-shadow: 0 0 0.125rem 0 rgba(0, 25, 40, 0.12), 0 0.125rem 0.125rem 0 rgba(0, 25, 40, 0.07);


  }