.links-col{

    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}

.links-col>div{
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.links-col p  {
    font-family: scotia;
    font-size: medium;

    margin-top: 0;
    margin-bottom: 1rem;
    text-decoration: underline dotted;
  }

  .links-col>div>div>h3{
    font-size: 30px;
    text-align: left !important;
    margin-bottom: 30px;
    margin-right: 70px;
    line-height: 1;
    overflow-wrap: break-word;
  }